:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --ff-primary: 'Spartan', sans-serif;
    --fs-primary: 0.9375rem;

    --br: 5px;

    --pl: padding-left: 1rem;
}


